<!DOCTYPE html>
<!---->

<html>
		<div id="status">
			<p>Hive Status: <span style="color:green">Good</span></p>
		</div>

		<!--table-->
		<table id="table">
			<tr>
				<td>
					<h2>Variable</h2>
				</td>
				<td>
					<h2>Normal Range</h2>
				</td>
				<td>
					<h2>Why it is Important</h2>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Temperature</p>
				</td>
				<td>
					<p>90&#8457; - 95&#8457;</p>
				</td>
				<td>
					<p>During construction, this temperature keeps the wax firm but also workable.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Humidity</p>
				</td>
				<td>
					<p>50% - 60%</p>
				</td>
				<td>
					<p>If the humidity is too high or low, there is an increased chance of your eggs not hatching.</p>
					<p>To keep the hive dry lean it forward slightly so that rain water can drain out.</p>
					<p>Make sure the hive is ventilated! Moisture can build up in the hive from the nector dehydrating and your bees evaporating water.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Weight</p>
				</td>
				<td>
					<p>40 - 60 pounds (max)</p>
				</td>
				<td>
					<p>Each of your 8 frames can weigh up to 5 - 8 pounds when full of honey.</p>
					<p>Your bees will start in the middle frames and work their way outwards.</p>
					<p>When your hive weight starts to get close to the max, it is time to remove the bee's honey.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Light</p>
				</td>
				<td>
					<p>0 - 10,000 lumens</p>
				</td>
				<td>
					<p>The hive light will help determine what time of day it is and the weather.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Bee Population</p>
				</td>
				<td>
					<p>20,000 - 80,000</p>
				</td>
				<td>
					<p>Your bee population will depend on the time of year.</p>
					<p>A hive consists of 20,000 - 30,000 bees in the winter, and over 60,000 - 80,000 bees in the summer.
				</td>
			</tr>
			<tr>
				<td>
					<p>Bee Frequencies</p>
				</td>
				<td>
					<p>Good</p>
				</td>
				<td>
					<p>Your queen bee emits a different frequency than the worker bees.</p>
					<p>This will help you keep track of where your queen is and how many queens you have.</p>
					<p>We will simply tell you if your hive frequencies are good or bad.
				</td>
			</tr>
		<table>
</html>