<!DOCTYPE html>
<!---->

<html>
		<div id="status">
			<p>Hive Status: <span style="color:green">Good</span></p>
		</div>

		<!--table-->
		<table id="table">
			<tr>
				<td>
					<h3>Variable</h3>
				</td>
				<td>
					<h3>Normal Range</h3>
				</td>
				<td>
					<h3>Why it is Important</h3>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Temperature</p>
				</td>
				<td>
					<p>94&#8457;</p>
				</td>
				<td>
					<p>During construction, this temperature keeps the wax firm but also workable.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Humidity</p>
				</td>
				<td>
					<p>(dry)</p>
				</td>
				<td>
					<p>To keep the hive dry lean it forward slightly so that rain water can drain out.</p>
					<p>Make sure the hive is ventilated! Moisture can build up in the hive from the nector dehydrating and your bees evaporating water.</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Weight</p>
				</td>
				<td>
					<p>Normal Range</p>
				</td>
				<td>
					<p>Why it is Important</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Hive Light</p>
				</td>
				<td>
					<p>Normal Range</p>
				</td>
				<td>
					<p>Why it is Important</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Bee Population</p>
				</td>
				<td>
					<p>Normal Range</p>
				</td>
				<td>
					<p>Why it is Important</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Bee Frequencies</p>
				</td>
				<td>
					<p>Normal Range</p>
				</td>
				<td>
					<p>Your queen bee emits a different frequency than the worker bees.</p>
					<p>This will help you keep track of where your queen is and how many queens you have.</p>
				</td>
			</tr>
		<table>
</html>