<!DOCTYPE html>
    <div ng-controller="BeeController as vm">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">The Hive</div>
                    <div class="panel-body pan">

                        <div ui-grid="vm.gridHiveOptions" 
                            ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize 
                            ui-grid-resize-columns ui-grid-edit
                                 
                            ng-style="{height: (30*4)+132+'px'}" 
                            class="mygrid" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<select  
			type="text" 
			ng-model="vm.selectedHiveId" 
			ng-change="vm.doHiveSelect()" >
			<option 
				ng-repeat="h in vm.HiveIdList" 
				ng-selected="{{h.hiveid == vm.HiveIdList.hiveid}}" 
				placeholder="Select Hive" 
				value="{{h.hiveid}}">{{h.name}}
			</option>
		</select>
		
		<div ng-controller="ModalController as vmmodal">
			<a id="templink" href="" ng-click="vmmodal.openmodal('outsidetemp')">Some temp value here</a>
			<a id="templink" href="" ng-click="vmmodal.openmodal('hivetemp')">Some hivetemp value here</a>
			<a id="templink" href="" ng-click="vmmodal.openmodal('hivehumidity')">Some humidity value here</a>
			<a id="templink" href="" ng-click="vmmodal.openmodal('light')">Some light value here</a>
			<a id="templink" href="" ng-click="vmmodal.openmodal('population')">Some population value here</a>

 <script id="modal.html" type="text/ng-template">
	<div class="modal-header">
	  <h3 class="modal-title"> {{vminst.graphlabel}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-md-offset-1">		
					<!--Outside Temp graph-->
					 <div ng-show="vminst.graphid == 'OutsideTempSpline'" ng-hide="vminst.graphid != 'OutsideTempSpline'" class="panel">
						<div class="panel-body">
						  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Outside Temperature Trend</h4>
						  <div class="col-md-9" id="OutsideTempSpline" style="height:200px"></div>
						  <div class="col-md-3" id="OutsideTempLegend"></div>
					   </div>
					  </div>
					  
					  <!--Hive Temp Graph-->
					  <div ng-show="vminst.graphid == 'HiveTempSpline'" ng-hide="vminst.graphid != 'HiveTempSpline'"  class="panel">
						<div class="panel-body">
						  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Hive Temperature Trend</h4>
						  <div class="col-md-9" id="HiveTempSpline" style="height:200px"></div>
						  <div class="col-md-3" id="HiveTempLegend"></div>
					   </div>
					  </div>
					  
					  <!--Humidity Graph-->
					  <div ng-show="vminst.graphid == 'HumiditySpline'" ng-hide="vminst.graphid != 'HumiditySpline'"  class="panel">
						<div class="panel-body">
						  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Humidity Trend</h4>
						  <div class="col-md-9" id="HumiditySpline" style="height:200px"></div>
						  <div class="col-md-3" id="HumidityLegend"></div>
					   </div>
					  </div>
					  
					  <!--Light Graph-->
					  <div ng-show="vminst.graphid == 'LightSpline'" ng-hide="vminst.graphid != 'LightSpline'"  class="panel">
						<div class="panel-body">
						  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Light Trend</h4>
						  <div class="col-md-9" id="LightSpline" style="height:200px"></div>
						  <div class="col-md-3" id="LightLegend"></div>
					   </div>
					  </div>
					  
					  <!--Population Graph-->
					  <div ng-show="vminst.graphid == 'PopulationSpline'" ng-hide="vminst.graphid != 'PopulationSpline'"  class="panel">
				<div class="panel-body">
				  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Population Trend</h4>
				  <div class="col-md-9" id="PopulationSpline" style="height:200px"></div>
				  <div class="col-md-3" id="PopulationLegend"></div>
			   </div>
			  </div>
			</div>
		</div>
						
			<div class="modal-footer">
			  <button class="btn btn-warning" type="button" ng-click="vminst.close()">Close</button>
			</div>
			</div>		
	</script>
	</div>                      
 </div>