<!DOCTYPE html>
		
		
	
		<!--table-->
		<table id="tableHelp">
			<tr>
				<td><h2><b>Description</b></h2></td>
				<td><h2><b>Instructions</b></h2></td>
			</tr>
			<tr>
				<td>
					<h3>Our system should be used as a tool to track and monitor your beehives</h3>
					<h3>The <b>Home</b> page can be used to open and save your notes. The weather widget can keep you updated on the weather variables 
					around your hives that may not be tracked by the sensors, including wind direction, mph, and gusts, dew point, pressure, and more.</h3>
					<h3>The <b>Your Hive</b> page displays each hive's variables and their latest update. Clicking a hive variable will show a line 
					graph of the updates over time.Alerts are shown on this page and are indicated by a red box around the variable that is not in a 
					normal range. The reason for the alert will be shown below the red box.</h3>
					<h3>Instructions for the <b>Upload Data</b> page can be found in the instruction section under, How to use the SD card.</h3>
					<h3>The <b>Data Listing</b> page shows all the values of each variable that the sensors are keeping track of in separeate tables. 
					The variable values can be searched for by a value range and/or date and time ranges.</h3>
					<h3>The <b>About</b> page can be used to learn about each hive-variable and their normal ranges.</h3>	
				</td>
				<td>
					<h3>How to use the SD card:</h3>
						<h3> 1. Remove the SD card from your beehive.</h3>
						<h3> 2. Attach the SD card to your computer via your adapter/reader.</h3>
						<h3> 3. In our <b>Upload Data</b> page, click the arrow to bring up a new upload menu.</h3>
						<h3> 4. Choose the file(s) you wish to upload and press Upload All and Okay.</h3>
					<h3>How to save and open your notes:</h3>
						<h3> 1. To save a note, type the file name you wish to save it as and click the save button.</h3>
						<h3> 2. To open a note, click the choose file button to browse your files, 
						open your desired file and then click the load file button.</h3>
				</td>
			</tr>
		<table>
		
		<!--Contact Box
		<div id="contact">
			<p>Contact us with questions! <b>e-mail:</b> beehiveMonitoringSystem@google.com</p>
		</div>-->

		<!--<div class = "help-body pan">
			<div class = "help">
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"></div>
					<div class="col-md-offset-1 col-md-5"></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h2>Description</h2></div>
					<div class="col-md-6"><h2>Instructions</h2></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3>Our system should be used as a tool to track and monitor your beehive.</h3></div>
					<div class="col-md-6"><h3>How to use the SD card:</h3></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3>Use our <b>Home</b> tab to save or open previous notes.</h3></div>
					<div class="col-md-6"><h4> 1. Remove the SD card from your beehive.</h4></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3>Use our <b>Your Hive</b> tab to look at each hive variable and their latest update.</h3></div>
					<div class="col-md-6"><h4> 2. Attach the SD card to your computer via your adapter/reader.</h4></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3>Use our <b>About</b> tab to learn about each hive variable and what is their normal range.</h3></div>
					<div class="col-md-6"><h4> 3. Under our <b>Upload Data</b> tab, click the arrow.</h4></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3></h3></div>
					<div class="col-md-6"><h4> 4. Choose the file you wish to upload and press Upload All and Okay.</h4></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3></h3></div>
					<div class="col-md-6"><h3>How to save and open your notes:</h3></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3></h3></div>
					<div class="col-md-6"><h4>1. To save a note, type the file name you wish to save it as and click the save button.</h4></div>
				</div>
				<div class= "row">
					<div class="col-md-offset-1 col-md-5"><h3></h3></div>
					<div class="col-md-5"><h4>2. To open a note, click the choose file button to browse your files, open your desired file and then click the load file button.</h4></div>
				</div>
			</div>
		</div>-->