<!DOCTYPE html>
		<div id="status">
			<p>Hive Status: <span style="color:green">Good</span></p>
		</div>
		
	
		<!--table-->
		<table id="table">
			<tr>
				<td id="descGroup">
					<div id="description">
						<h3><b>Description</b></h3>
						<ul>
							<li>Our system should be used as a tool to track and monitor your beehive</li>
							<li>Use our <b>Home</b> tab to save or open previous notes</li>
							<li>Use our <b>Your Hive</b> tab to look at each hive variable and their latest update</li>
							<li>Use our <b>About</b> tab to learn about each hive variable and what is their normal range</li>
							
						</ul>
					</div>
				</td>
				<td>
					<!--graph-->
					<div id="instruction">
						<h3><b>Instructions</b></h3>
						<ul>
							<li>How to use the SD card:
								<ol>
									<li>One</li>
									<li>Two</li>
									<li>Three</li>
								</ol>
							</li>
							<li>How to read your data into the server:
								<ol>
									<li>One</li>
									<li>Two</li>
									<li>Three</li>
								</ol>
							</li>
							<li>How to save and open your notes:
								<ul>
									<li>To save a note...</li>
									<li>To open a note...</li>
								</ul>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		<table>
		
		<!--Contact Box-->
		<div id="contact">
			<p>Contact us with questions! <b>e-mail:</b> beehiveMonitoringSystem@google.com</p>
		</div>
