<!DOCTYPE html>
<!--table for the description of each page and instructions-->
<table id="tableHelp">
	<tr>
		<th><h2><b><span style="color:white">Description</span></b></h2></th>
		<th><h2><b><span style="color:white">Instructions</span></b></h2></th>
	</tr>
	<tr>
		<td>
			<h3>Our system should be used as a tool to track and monitor your beehives</h3>
			<h3>The <b>Home</b> page can be used to open and save your notes. The weather widget can keep you updated on the weather variables 
			around your hives that may not be tracked by the sensors, including wind direction, mph, and gusts, dew point, pressure, and more.</h3>
			<h3>The <b>Your Hive</b> page displays outside and super variables with their latest update. Clicking a super variable will show a line 
			graph of the updates over time. Alerts are shown on this page and are indicated by a red box around the variable that is not in a 
			normal range. The reason for the alert will be shown below the red box.</h3>
			<h3>Instructions for the <b>Upload Data</b> page can be found in the instruction section under, How to use the SD card.</h3>
			<h3>The <b>Data Listing</b> page shows all the values of each variable that the sensors are keeping track of in separeate tables. 
			The variable values can be searched for by a value range and/or date and time ranges.</h3>
			<h3>The <b>About</b> page can be used to learn about each super variable and their normal ranges.</h3>	
		</td>
		<td>
			<h3>How to use the SD card:</h3>
				<h3 class="list">1. Remove the SD card from your beehive.</h3>
				<h3 class="list">2. Attach the SD card to your computer via your adapter/reader.</h3>
				<h3 class="list">3. In our <b>Upload Data</b> page, click the arrow to bring up a new upload menu.</h3>
				<h3 class="list">4.Choose the file(s) you wish to upload, press Upload All and Okay.</h3>
			<h3>How to save and open your notes:</h3>
				<h3 class="list"> 1. To save a note, type the file name you wish to save it as and click the save button.</h3>
				<h3 class="list"> 2. To open a note, click the choose file button to browse your files, 
				open your desired file and then click the load file button.</h3>
		</td>
	</tr>
<table>