<!DOCTYPE html>
<div class = "main-body pan">
	<div class = "main">
		<div class= "row">
			<!--Weather Widget-->
			<div class="col-md-offset-1 col-md-5">
				<div style="width: 100%;"><iframe style="display: block; padding-top: 30px;" src="http://cdnres.willyweather.com/widget/loadView.html?id=45203" width="100%" height="598px" frameborder="0"  scrolling="no"></iframe>
				<a style="position: relative;z-index: 1;margin: -20px 0 0 0;height: 20px;display: block;text-indent: -9999em" href="http://www.willyweather.com/ma/bristol-county/north-dartmouth.html">Weather report North Dartmouth</a></div>
			</div>
			<!--Notes-->
			<div class="col-md-6">
				<table id="notes">
					<tr><td colspan="4"><h2>Write and open notes:</h2></td></tr>
					<tr><td colspan="4">
						<textarea id="inputTextToSave" style="width:96%;height:550px"></textarea>
					</td></tr>
					<tr>
						<td>Filename to Save As:</td>
						<td><input id="inputFileNameToSaveAs"></input></td>
						<td><button id="notesButton" onclick="saveTextAsFile()">Save Note to File</button></td>
					</tr>
					<tr>
						<td>Select a File to Load:</td>
						<td><input type="file" name="file" id="fileToLoad" class="inputfile">
						<label for="fileToLoad">Choose a file</label></td>
						<td><button id="notesButton" onclick="loadFileAsText()">Load Selected File</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
		
<script type='text/javascript'>
/*Javascript for opening and saving notes*/
function saveTextAsFile()
{
	var textToWrite = document.getElementById("inputTextToSave").value;
	var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
	var fileNameToSaveAs = document.getElementById("inputFileNameToSaveAs").value;

	var downloadLink = document.createElement("a");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File";
	if (window.webkitURL != null)
	{
		// Chrome allows the link to be clicked
		// without actually adding it to the DOM.
		downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
	}
	else
	{
		// Firefox requires the link to be added to the DOM
		// before it can be clicked.
		downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
		downloadLink.onclick = destroyClickedElement;
		downloadLink.style.display = "none";
		document.body.appendChild(downloadLink);
	}

	downloadLink.click();
}

function destroyClickedElement(event)
{
	document.body.removeChild(event.target);
}

function loadFileAsText()
{
	var fileToLoad = document.getElementById("fileToLoad").files[0];

	var fileReader = new FileReader();
	fileReader.onload = function(fileLoadedEvent) 
	{
		var textFromFileLoaded = fileLoadedEvent.target.result;
		document.getElementById("inputTextToSave").value = textFromFileLoaded;
	};
	fileReader.readAsText(fileToLoad, "UTF-8");
}

</script>

