<!DOCTYPE html>
    <div ng-controller="BeeController as vm">
		<div id="status">
			<p>Hive Status: <span style="color:green">Good</span></p>
		</div>

		<div ng-controller="ModalController as vmmodal">

			<script id="modal.html" type="text/ng-template">
				<div class="modal-header">
				  <h3 class="modal-title">Hive - {{vminst.selectedHiveName}}</h3>
				  </div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-offset-1 col-md-10 col-md-offset-1">		
							<!--Outside Temp graph-->
							 <div ng-show="vminst.graphid == 'OutsideTempSpline'" ng-hide="vminst.graphid != 'OutsideTempSpline'" class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Outside Temperature Trend </h4>
								  <div class="col-md-9" id="OutsideTempSpline" style="height:200px"></div>
								  <div class="col-md-3" id="OutsideTempLegend"></div>
							   </div>
							  </div>		
							<!--Outside Humidity graph-->
							 <div ng-show="vminst.graphid == 'OutsideHumSpline'" ng-hide="vminst.graphid != 'OutsideHumSpline'" class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Outside Humidity Trend </h4>
								  <div class="col-md-9" id="OutsideHumSpline" style="height:200px"></div>
								  <div class="col-md-3" id="OutsideHumLegend"></div>
							   </div>
							  </div>		 
							<!--Hive Temp Graph-->
							  <div ng-show="vminst.graphid == 'HiveTempSpline'" ng-hide="vminst.graphid != 'HiveTempSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Hive Temperature Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="HiveTempSpline" style="height:200px"></div>
								  <div class="col-md-3" id="HiveTempLegend"></div>
							   </div>
							  </div>						  
							<!--Humidity Graph-->
							  <div ng-show="vminst.graphid == 'HumiditySpline'" ng-hide="vminst.graphid != 'HumiditySpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Humidity Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="HumiditySpline" style="height:200px"></div>
								  <div class="col-md-3" id="HumidityLegend"></div>
							   </div>
							  </div>					  
							<!--Light Graph-->
							  <div ng-show="vminst.graphid == 'LightSpline'" ng-hide="vminst.graphid != 'LightSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Light Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="LightSpline" style="height:200px"></div>
								  <div class="col-md-3" id="LightLegend"></div>
							   </div>
							  </div>						  
							<!--Population Graph-->
							  <div ng-show="vminst.graphid == 'PopulationSpline'" ng-hide="vminst.graphid != 'PopulationSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Population Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="PopulationSpline" style="height:200px"></div>
								  <div class="col-md-3" id="PopulationLegend"></div>
							   </div>
							  </div>
							<!--WeightSummary Graph-->
							  <div ng-show="vminst.graphidsum == 'weightSplineSum'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Weight Sum Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="weightSplineSum" style="height:200px"></div>
								  <div class="col-md-3" id="weightLegendsum"></div>
							   </div>
							  </div>
							<!--Frame Weight Graph-->
							  <div ng-show="vminst.graphid1 == 'weightSplineFrame1' && vminst.selectedHiveName != 'All'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-12 block-heading"><i class="icon-cursor mrs"></i>Weight Trend for Hive: {{vminst.selectedHiveName}}</h4>
								  <div class="col-md-9" id="weightSplineFrame1" style="height:400px"></div>
								  <div class="col-md-3" id="weightLegend1"></div>
							   </div>
							  </div> 
						  </div>
						</div>
					</div>					
				<div class="modal-footer">
				  <div id="tooltip" style=" 
							border: 1px solid rgb(255, 221, 221); 
							padding: 2px; opacity: 0.8; 							 
							display: block; background-color: rgb(255, 238, 238);"></div>
				<button class="btn btn-warning" type="button" ng-click="vminst.close()">Close</button>
				</div>		
			</script>

		<!-- Shows all latest values and what date and time the latest value was from -->
            <div class="panel panel-blue col-md-12">
				<div class="col-md-offset-1 col-md-3 col-md-offset-2">
					<h2>
					<label for="hiveselect" class="control-label">Hive ID</label>
					</h2>
				</div>
				<div class="col-md-6 ">
					<h2>
					<select  
						id="hiveselect"
						type="text" 
						ng-model="vm.selectedHiveId" 
						ng-change="vm.doHiveSelect()" 
						>
							<option 
								ng-repeat="h in vm.HiveIdList" 
								ng-selected="{{h.hiveid == vm.selectedHiveId}}" 
								value="{{h.hiveid}}">{{h.hiveid}}
							</option>
					</select>
					</h2>
				</div>
			<div class="panel-body pan">
				<div class="yourhive" id="yourtable">
				<!--Outide Temp-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="outside">Outside Temperature:</h2></div>
					<div class="col-md-6"><div class="outVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('outsidetemp')">
								{{vm.outsidetemp[0].temp}}&deg;F </a>
								</br>
								<div class="dta">  Last Update: {{vm.outsidetemp[0].datetime}} 
								</div></h2></div></div>
				</div>	
				<!--Outide Humidity-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="outside">Outside Humidity:</h2></div>
					<div class="col-md-6"><div class="outVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('outsidehum')">
								{{vm.outsidehum[0].humidity}}%</a>
								</br>
								<div class="dta">  Last Update: {{vm.outsidehum[0].datetime}} 
								</div></h2></div></div>
				</div>
				<!--Hive Temp-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="inside">Hive Temperature:</h2></div>
					<div class="col-md-6"><div class="inVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('hivetemp')" ng-style="{ 'border' : vm.hiveTempMaxAlert(vm.hivetemp[0].temp) || vm.hiveTempMinAlert(vm.hivetemp[0].temp) ? '4px solid red' : ''}">
								{{vm.hivetemp[0].temp}}&deg;F</a>
								</br>
								<div class="dta"> Last Update: {{vm.hivetemp[0].datetime}}
								<div ng-show="vm.hiveTempMaxAlert(vm.hivetemp[0].temp)">Alert: Temperature > {{vm.hiveTempAlertAmtMax}}</div>
								<div ng-show="vm.hiveTempMinAlert(vm.hivetemp[0].temp)">Alert: Temperature &lt; {{vm.hiveTempAlertAmtMin}}</div>
								</div></h2></div></div>
				</div>
				<!--Hive Humidity-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="humidity">Hive Humidity:</h2></div>
					<div class="col-md-6"><div class="humidVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('hivehumidity')" ng-style="{ 'border' : vm.hiveHumidityMaxAlert(vm.hivehumidity[0].humidity) || vm.hiveHumidityMinAlert(vm.hivehumidity[0].humidity) ? '4px solid red' : ''}">
								{{vm.hivehumidity[0].humidity}}% </a>
								</br>
								<div class="dta"> Last Update: {{vm.hivehumidity[0].datetime}}
								<div ng-show="vm.hiveHumidityMaxAlert(vm.hivehumidity[0].humidity)">Alert: Humidity > {{vm.hiveHumidityAlertAmtMax}}</div>
								<div ng-show="vm.hiveHumidityMinAlert(vm.hivehumidity[0].humidity)">Alert: Humidity &lt; {{vm.hiveHumidityAlertAmtMin}}</div>
								</div></h2></div></div>
				</div>
<!--Weight Status-->
	<div class="row">
		<div class="col-md-offset-1 col-md-5"><h2 id="weight">Total Hive Weight:</h2></div>
			<div class="col-md-6"><div class="weightVar">
				<h2>
					<a href=""  ng-click="vmmodal.openmodal('weightstatus')"  ng-style="{ 'border' : vm.weightAlert(vm.HiveWeightStatus[0].frameweightsum) ?  '4px solid red' : ''}">
						{{vm.HiveWeightStatus[0].frameweightsum}} lbs.</a>
						</br>
						<div class="dta">Last Update: {{vm.HiveWeightStatus[0].datetime}}
						<div ng-show="vm.weightAlert(vm.HiveWeightStatus[0].frameweightsum)">Alert: Weight > {{vm.weightAlertAmt}}</div>
						</div></h2></div></div>
	</div>
				<!--Light-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="light">Hive Light:</h2></div>
					<div class="col-md-6"><div class="lightVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('light')" ng-style="{ 'border' : vm.lightAlert(vm.light[0].lumen) ?  '4px solid red' : ''}">
								{{vm.light[0].lumen}} lumens</a>
								</br>
								<div class="dta">Last Update: {{vm.light[0].datetime}}
								<div ng-show="vm.lightAlert(vm.light[0].lumen)">Alert: Lumen > {{vm.lightAmt}}</div>
								</div></h2></div></div>
				</div>
				<!--Population Count-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="population">Bee Population:</h2></div>
					<div class="col-md-6"><div class="popVar">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('population')" ng-style="{ 'border' : vm.populationMaxAlert(vm.populations[0].count) || vm.populationMinAlert(vm.populations[0].count) ?  '4px solid red' : ''}">
								{{vm.populations[0].count}} bees </a>
								</br>
								<div class="dta">Last Update: {{vm.populations[0].datetime}}
								<div ng-show="vm.populationMaxAlert(vm.populations[0].count)">Alert: Population > {{vm.populationAlertAmtMax}}</div>
								<div ng-show="vm.populationMinAlert(vm.populations[0].count)">Alert: Population &lt; {{vm.populationAlertAmtMin}}</div>
								</div></h2></div></div>
				</div>
				<!--Frequency Status-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="frequencies">Bee Frequencies:</h2></div>
					<div class="col-md-6"><div class="freqVar">
						<h2>
							<a href="/beehive/web/frequency.html">
								{{vm.beeFreqStatus[0].frequencyStatus}}</a>
								</br>
								<div class="dta">Last Update: {{vm.beeFreqStatus[0].datetime}}
								</div></h2></div></div>
				</div>
				
    		<div ng-controller="PicModalController as vmpicmodal">
				<!--Last Picture-->
				<div class="row">
					<div class="col-md-offset-1 col-md-5"><h2 id="frequencies">Most Recent Picture:</h2></div>
					<div class="col-md-6"><div class="popVar picitem">
						<h2>
							<a href="" ng-click="vmpicmodal.openmodal()" >
								<img ng-src="/beehive/uploads/{{vm.populations[0].picurl}}" height="100">
								</a>
								</br>
								<div class="dta">Last Update: {{vm.populations[0].datetime}}
								</div></h2></div></div>
				</div>

				<script id="picmodal.html" type="text/ng-template">
				    <div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title">Hive - {{vmpicinst.selectedHiveId}}</h3>
							<button class="btn btn-warning" type="button" ng-click="vmpicinst.close()">Close</button>
					    </div>
						<div class="modal-body">
							<div class="col-md-4 picitem" ng-repeat="pic in vmpicinst.piclist">
									<img ng-src="/beehive/uploads/{{pic.picurl}}" width="267"> 
									<div class="dta">Uploaded: {{pic.datetime}}
								</div>
								<div class="dta">Count: {{pic.count}}
								</div>
							</div>
						</div>					
						<div class="modal-footer">
						</div>
					</div>
				</script>
			</div>
				
				</div>
			</div>
			</div>
		</div>                    
	
	
	
	
	
	
	
	</div>
	

