<!DOCTYPE html>
    <div ng-controller="BeeController as vm">
		

		<div ng-controller="ModalController as vmmodal">

			<script id="modal.html" type="text/ng-template">
				<div class="modal-header">
				  <h3 class="modal-title">Hive - {{vminst.selectedHiveId}}</h3>
				  </div>
					<div class="modal-body" style="height:800px; max-height:700px; width:1000px; max-width:1000px;">
						<div class="row">
							<div class="col-md-offset-2 col-md-10 col-md-offset-0">		
							<!--Outside Temp graph-->
							 <div ng-show="vminst.graphid == 'OutsideTempSpline'" ng-hide="vminst.graphid != 'OutsideTempSpline'" class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Outside Temperature Trend</b></h4>
								  <div class="col-md-1" id="verticalText">Temperature</div>
								  <div class="col-md-9" id="OutsideTempSpline" style="height:500px;"></div>
								  <div class="col-md-2" id="OutsideTempLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
								  </div>
							  </div>		
							<!--Outside Humidity graph-->
							 <div ng-show="vminst.graphid == 'OutsideHumSpline'" ng-hide="vminst.graphid != 'OutsideHumSpline'" class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Outside Humidity Trend</b></h4>
								  <div class="col-md-1" id="verticalText">Humidity</div>
								  <div class="col-md-9" id="OutsideHumSpline" style="height:500px"></div>
								  <div class="col-md-2" id="OutsideHumLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>		 
							<!--Hive Temp Graph-->
							  <div ng-show="vminst.graphid == 'HiveTempSpline'" ng-hide="vminst.graphid != 'HiveTempSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-1 col-md-11 block-heading" style="font-size:30px"><b>Hive Temperature Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Temperature</div>
								  <div class="col-md-9" id="HiveTempSpline" style="height:500px"></div>
								  <div class="col-md-2" id="HiveTempLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>						  
							<!--Humidity Graph-->
							  <div ng-show="vminst.graphid == 'HumiditySpline'" ng-hide="vminst.graphid != 'HumiditySpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Humidity Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Humidity</div>
								  <div class="col-md-9" id="HumiditySpline" style="height:500px"></div>
								  <div class="col-md-2" id="HumidityLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>					  
							<!--Light Graph-->
							  <div ng-show="vminst.graphid == 'LightSpline'" ng-hide="vminst.graphid != 'LightSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Light Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Lumens</div>
								  <div class="col-md-9" id="LightSpline" style="height:500px"></div>
								  <div class="col-md-2" id="LightLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>						  
							<!--Population Graph-->
							  <div ng-show="vminst.graphid == 'PopulationSpline'" ng-hide="vminst.graphid != 'PopulationSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Population Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Bees</div>
								  <div class="col-md-9" id="PopulationSpline" style="height:500px"></div>
								  <div class="col-md-2" id="PopulationLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>
							<!--WeightSummary Graph-->
							  <div ng-show="vminst.graphidsum == 'weightSplineSum'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Weight Sum Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Ounces</div>
								  <div class="col-md-9" id="weightSplineSum" style="height:500px"></div>
								  <div class="col-md-2" id="weightLegendsum" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div>
							<!--Frame Weight Graph-->
							  <div ng-show="vminst.graphid1 == 'weightSplineFrame1' && vminst.selectedHiveId != 'All'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Weight Trend for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Ounces</div>
								  <div class="col-md-9" id="weightSplineFrame1" style="height:500px"></div>
								  <div class="col-md-2" id="weightLegend1" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Date/Time</div>
							   </div>
							  </div> 
							  <!--Frequency/Amplitude Graph-->
							  <div ng-show="vminst.graphid == 'AudioSpline'" ng-hide="vminst.graphid != 'AudioSpline'"  class="panel">
								<div class="panel-body">
								  <h4 class="col-md-offset-2 col-md-10 block-heading" style="font-size:30px"><b>Frequency Spectrum for Hive: {{vminst.selectedHiveId}}</b></h4>
								  <div class="col-md-1" id="verticalText">Amplitude</div>
								  <div class="col-md-9" id="AudioSpline" style="height:500px"></div>
								  <div class="col-md-2" id="AudioLegend" style="font-size:20px"></div>
								  <div class="col-md-offset-3 col-md-9 bottomLabel">Frequency</div>
							   </div>
							  </div> 
						  </div>
						</div>
					</div>					
				<div class="modal-footer">
				  <div id="tooltip" style=" 
							border: 1px solid rgb(255, 221, 221); 
							padding: 2px; opacity: 0.8; 							 
							display: block; background-color: rgb(255, 238, 238);"></div>
				<button class="btn btn-warning" type="button" ng-click="vminst.close()">Close</button>
				</div>		
			</script>

		<!-- Shows all latest values and what date and time the latest value was from -->
            <div class="panel panel-blue col-md-12">
				<div class="col-md-offset-2 col-md-4">
					<h2>
					<label for="hiveselect" class="control-label">What hive information would you like to display?
					<span style="font-size:16px">Choose 'All' to compare all your hives together.</span></label>
					</h2>
				</div>
				<div class="col-md-offset-1 col-md-2">
					<h2>
					<select  
						id="hiveselect"
						type="text" 
						ng-model="vm.selectedHiveId" 
						ng-change="vm.doHiveSelect()" 
						>
							<option 
								ng-repeat="h in vm.HiveIdList" 
								ng-selected="{{h.hiveid == vm.selectedHiveId}}" 
								value="{{h.hiveid}}">{{h.hiveid}}
							</option>
					</select>
					</h2>
				</div>
			</div>
			
			<!--Table to show variables-->
			<table id="yourHiveTable">
			<tr>
				<th>
					<h2><b><span style="color:white">Variable</span></b></h2>
				</th>
				<th>
					<h2><b><span style="color:white">Last Update</span></b></h2>
				</th>
			</tr>
			<tr>
				<td>
					<h2>Outside Temperature:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('outsidetemp')">
								{{vm.outsidetemp[0].temp}}&deg;F </a>
								</br>
								<div class="dta">  Last Update: {{vm.outsidetemp[0].datetime}} 
					</div></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Outside Humidity:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('outsidehum')">
								{{vm.outsidehum[0].humidity}}%</a>
								</br>
								<div class="dta">  Last Update: {{vm.outsidehum[0].datetime}} 
					</div></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Hive Temperature:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('hivetemp')" ng-style="{ 'border' : vm.hiveTempMaxAlerting || vm.hiveTempMinAlerting  ? '4px solid red' : ''}">
								{{vm.hivetemp[0].temp}}&deg;F</a>
								</br>
								<div class="dta"> Last Update: {{vm.hivetemp[0].datetime}}
								<div ng-show="vm.hiveTempMaxAlerting">Alert: Temperature &gt; {{vm.hiveTempAlertAmtMax}}</div>
								<div ng-show="vm.hiveTempMinAlerting">Alert: Temperature &lt; {{vm.hiveTempAlertAmtMin}}</div>
								</div></h2></div></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Hive Humidity:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('hivehumidity')" ng-style="{ 'border' : vm.hiveHumidityMaxAlerting || vm.hiveHumidityMinAlerting ? '4px solid red' : ''}">
								{{vm.hivehumidity[0].humidity}}% </a>
								</br>
								<div class="dta"> Last Update: {{vm.hivehumidity[0].datetime}}
								<div ng-show="vm.hiveHumidityMaxAlerting">Alert: Humidity &gt; {{vm.hiveHumidityAlertAmtMax}}</div>
								<div ng-show="vm.hiveHumidityMinAlerting">Alert: Humidity &lt; {{vm.hiveHumidityAlertAmtMin}}</div>
								</div></h2></div></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2 id="outside">Total Hive Weight:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href=""  ng-click="vmmodal.openmodal('weightstatus')"  ng-style="{ 'border' : vm.hiveWeightAlerting ?  '4px solid red' : ''}">
							{{vm.HiveWeightStatus[0].frameweightsum}} oz.</a>
							</br>
							<div class="dta">Last Update: {{vm.HiveWeightStatus[0].datetime}}
							<div ng-show="vm.hiveWeightAlerting">Alert: All frames are within {{vm.weightAlertAmt}} Oz, <br/> your hive may need to be emptied</div>
							</div></h2></div></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Hive Light:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('light')" ng-style="{ 'border' : vm.lightAlert(vm.light[0].lumen) ?  '4px solid red' : ''}">
								{{vm.light[0].lumen}} lumens</a>
								</br>
								<div class="dta">Last Update: {{vm.light[0].datetime}}
								<div ng-show="vm.lightAlert(vm.light[0].lumen)">Alert: Lumen > {{vm.lightAmt}}</div>
								</div></h2></div></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Bee Population:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('population')" ng-style="{ 'border' : vm.populationAlerting ?  '4px solid red' : ''}">
								{{vm.populations[0].count}} bees </a>
								</br>
								<div class="dta">Last Update: {{vm.populations[0].datetime}}
								<div ng-show="vm.populationAlerting">Alert: Population > 2 standard deviations <br/> above the average for the last 3 days</div>
								</div></h2></div></div>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Frequency Spectrum:</h2>
				</td>
				<td>
					<div class="lastUpdate">
						<h2>
							<a href="" ng-click="vmmodal.openmodal('frequencyStatus')"ng-style="{ 'border' : vm.hiveAmpAlerting ? '4px solid red' : ''}">
								{{vm.beeFreqStatus[0].amplitude}}</a>
								</br>
								<div class="dta">Last Update: {{vm.beeFreqStatus[0].datetime}}
								<div ng-show="vm.hiveAmpAlerting">Alert: Amplitude = {{vm.hiveAmpAlertAmt}}</div>
								</div></h2></div></div>
				</td>
			</tr>
			<div ng-controller="PicModalController as vmpicmodal">
			<tr>
				<td>
					<h2>Most Recent Picture:</h2>
				</td>
				<td>
					<div ng-controller="PicModalController as vmpicmodal">
					<!--Last Picture-->
					<div class="lastUpdate picitem">
						<h2>
							<a href="" ng-click="vmpicmodal.openmodal()" >
								<img ng-src="/beehive/uploads/{{vm.populations[0].picurl}}" height="100">
								</a>
								</br>
								<div class="dta">Last Update: {{vm.populations[0].datetime}}
								</div></h2>
					</div>
				</div>

				<script id="picmodal.html" type="text/ng-template">
				    <div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title">Hive - {{vmpicinst.selectedHiveId}}</h3>
							<button class="btn btn-warning" type="button" ng-click="vmpicinst.close()">Close</button>
					    </div>
						<div class="modal-body">
							<div class="col-md-3 picitem" ng-repeat="pic in vmpicinst.piclist">
									<img ng-src="/beehive/uploads/{{pic.picurl}}" width="267"> 
									<div class="dta">Uploaded: {{pic.datetime}}
								</div>
								<div class="dta">Count: {{pic.count}}
								</div>
							</div>
						</div>					
						<div class="modal-footer">
						</div>
					</div>
				</script>
			</div>
			</td>
			</tr>
			</div>			
			</table>
		</div>                    
	</div>
	

