h1{
	margin-left:10px;
	color: #36658C;
	font-family:Tahoma;
	font-size:70px;
}
h2{
	font-size:30px;
	font-family:Tahoma;
	color: #36658C;
}
h3{
	font-size:20px;
	font-family:Tahoma;
}
h4{
	font-family:Tahoma;
	color: #252525;
    font-size: 18px;
}
p{
	font-family:Tahoma;
	font-size:18px;
}
h2 a{
	text-decoration:none;
	color:steelblue;
	font-family:Tahoma;
	font-size:30px;
	margin-left:5%;
}
a:link{
	text-decoration:none;
}
a:hover{
	color:navy;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}

/*Title and banner*/
#topbar{
	background-color:rgb(251, 251, 200);
	height:0%;
	background-image:url("banner.jpg");
}

/*Notes*/
#notes{
	padding: 10px;
	color:black;
	font-family:Tahoma;
	font-size:16px;
}
#notes p{
	margin-top: -50px;
}
#inputTextToSave{
	margin-left:1.5%;
}

/*Classes*/
.maintable{
	width:90%;
	margin-left:5%;
}
.panel-heading{
	font-size:28px;
	color: #36658C;
}
.side{
	height:750px;
	background-image:url("side.png");
}
.side2{
	height:750px;
	background-image:url("side.png");
}
.upload{
	margin-left:17px;
	font-size:30px;
	color:#36658C;
	font-weight:700;
	font-family:Tahoma;
}
.uploadButton{
	font-size:90px;
}
.dta{
	text-decoration:none;
	font-family:Tahoma;
	font-size:15px;	
	padding:5px;
}

#outside{
	color: #36658C;
}
#inside{
	color: #36658C;
}
#humidity{
	color: #36658C;
}
#weight{
	color: #36658C;
}
#light{
	color: #36658C;
}
#population{
	color: #36658C;
}
#frequencies{
	color: #36658C;
}

/*Formats the yourHive values with the green boxes around them*/
.outVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.inVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.humidVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.weightVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.lightVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.popVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.freqVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}

/*Tables*/
#table{
	width:75%;
	margin-left:12.5%;
	margin-top:15px;
}
#table tr td{
	border:1px solid black;
	padding:5px;
	vertical-align:top;
}
#table tr th{
	border:1px solid black;
	padding:5px;
	vertical-align:top;
	/*background:#428bca;*/
	background:steelblue;
}
#table tbody tr:nth-child(odd){
	background:#eee;
}

#tableHelp{
	width:75%;
	margin-left:12.5%;
	margin-top:15px;
}
#tableHelp tr td{
	border:1px solid black;
	padding:5px;
	vertical-align:top;
	width:50%;
}
#tableHelp tr th{
	border:1px solid black;
	padding:5px;
	vertical-align:top;
	background:steelblue;
	width:50%;
}

#notesButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#notesButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#notesButton:active {
	position:relative;
	top:1px;
}
