h2 a{
	text-decoration:none;
	color:steelblue;
	font-family:Tahoma;
	font-size:30px;
	/*text-shadow:-2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	*/
	margin-left:5%;
}

#yourtable{
	margin-top:10px;
	margin-left:10px;
	width:80%;
}

.yourhive table tr td{
	border:1px solid black;
}

.dta{
	text-decoration:none;
	font-family:Tahoma;
	font-size:15px;	
	padding:5px;
}

#outside{
	color: #36658C;
}
#inside{
	color: #36658C;
}
#humidity{
	color: #36658C;
}
#weight{
	color: #36658C;
}
#light{
	color: #36658C;
}
#population{
	color: #36658C;
}
#frequencies{
	color: #36658C;
}

/*Formats the values with the green boxes around them*>*/
.outVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.inVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.humidVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.weightVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.lightVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.popVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
.freqVar h2 a{
	margin-top:-15px;
	margin-left:10%;
}
