<!--
<div ng-class="[header.layout_topbar]" class="navbar-header">

<a id="setting-toggle"><i class="icon-wrench"></i></a>
  <button type="button" data-toggle="offcanvas" class="navbar-toggle">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a id="logo" href="/#/" class="navbar-brand">
  <span class="icon-social-tumblr"></span>
  <span class="logo-text">Bee Site</span></a>
</div>
-->
<div class="topbar-main">
		<div>
			<h1 style='color: white;'>Beehive Monitoring System - Your Hive</h1>
		</div>

  <ul class="nav navbar-top-links navbar-left">
   <li><a href="#/" class="btn btn-default btn-sm pull-right">Home</a></li>
   <li><a href="#/bees" class="btn btn-default btn-sm pull-right">Sample</a></li>
   <li><a href="#/hive" class="btn btn-default btn-sm pull-right">Your Hive</a></li>
   <li><a href="#/about" class="btn btn-default btn-sm pull-right">About</a></li>
   <li><a href="#/help" class="btn btn-default btn-sm pull-right">Help</a></li>

  </ul>
</div>